:root {
  --bg-color: white;
  --text-color: black;
}

body.dark {
  --bg-color: #0f172a;
  --text-color: white;
}

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background 0.3s ease, color 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}